# Categorical- Ordinal number encoding

In [1]:
#  we have to rank ordinal category. best possible will get rank 1

In [2]:
#lets take date and time column then acco to weekdays rank them

In [3]:
import pandas as pd
import numpy as np
import datetime

In [6]:
today_date= datetime.datetime.today()

In [7]:
today_date

datetime.datetime(2021, 10, 26, 17, 21, 58, 795719)

In [11]:
# liet comprehension
days= [today_date- datetime.timedelta(x) for x in range(15)]

In [12]:
days  # convert days into DataFrame

[datetime.datetime(2021, 10, 26, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 25, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 24, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 23, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 22, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 21, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 20, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 19, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 18, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 17, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 16, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 15, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 14, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 13, 17, 21, 58, 795719),
 datetime.datetime(2021, 10, 12, 17, 21, 58, 795719)]

In [13]:
data=pd.DataFrame(days)

In [15]:
# set column name to Days
data.columns=['Days']

In [16]:
data

                         Days
0  2021-10-26 17:21:58.795719
1  2021-10-25 17:21:58.795719
2  2021-10-24 17:21:58.795719
3  2021-10-23 17:21:58.795719
4  2021-10-22 17:21:58.795719
5  2021-10-21 17:21:58.795719
6  2021-10-20 17:21:58.795719
7  2021-10-19 17:21:58.795719
8  2021-10-18 17:21:58.795719
9  2021-10-17 17:21:58.795719
10 2021-10-16 17:21:58.795719
11 2021-10-15 17:21:58.795719
12 2021-10-14 17:21:58.795719
13 2021-10-13 17:21:58.795719
14 2021-10-12 17:21:58.795719

In [17]:
# now extract weekdays fro the Days column

In [19]:
data['Weekday']=data['Days'].dt.day_name()

In [21]:
data

                         Days    Weekday
0  2021-10-26 17:21:58.795719    Tuesday
1  2021-10-25 17:21:58.795719     Monday
2  2021-10-24 17:21:58.795719     Sunday
3  2021-10-23 17:21:58.795719   Saturday
4  2021-10-22 17:21:58.795719     Friday
5  2021-10-21 17:21:58.795719   Thursday
6  2021-10-20 17:21:58.795719  Wednesday
7  2021-10-19 17:21:58.795719    Tuesday
8  2021-10-18 17:21:58.795719     Monday
9  2021-10-17 17:21:58.795719     Sunday
10 2021-10-16 17:21:58.795719   Saturday
11 2021-10-15 17:21:58.795719     Friday
12 2021-10-14 17:21:58.795719   Thursday
13 2021-10-13 17:21:58.795719  Wednesday
14 2021-10-12 17:21:58.795719    Tuesday

In [30]:
# create dict for ranking

dic={"Monday":1,"Tuesday":2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [31]:
dic

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [32]:
data['Weekday_ordinal']= data['Weekday'].map(dic)

In [33]:
data

                         Days    Weekday  Weekday_ordinal
0  2021-10-26 17:21:58.795719    Tuesday                2
1  2021-10-25 17:21:58.795719     Monday                1
2  2021-10-24 17:21:58.795719     Sunday                7
3  2021-10-23 17:21:58.795719   Saturday                6
4  2021-10-22 17:21:58.795719     Friday                5
5  2021-10-21 17:21:58.795719   Thursday                4
6  2021-10-20 17:21:58.795719  Wednesday                3
7  2021-10-19 17:21:58.795719    Tuesday                2
8  2021-10-18 17:21:58.795719     Monday                1
9  2021-10-17 17:21:58.795719     Sunday                7
10 2021-10-16 17:21:58.795719   Saturday                6
11 2021-10-15 17:21:58.795719     Friday                5
12 2021-10-14 17:21:58.795719   Thursday                4
13 2021-10-13 17:21:58.795719  Wednesday                3
14 2021-10-12 17:21:58.795719    Tuesday                2

In [35]:
data['Days'].dt.day_name()

0       Tuesday
1        Monday
2        Sunday
3      Saturday
4        Friday
5      Thursday
6     Wednesday
7       Tuesday
8        Monday
9        Sunday
10     Saturday
11       Friday
12     Thursday
13    Wednesday
14      Tuesday
Name: Days, dtype: object

In [36]:
data['Days'].dt.day

0     26
1     25
2     24
3     23
4     22
5     21
6     20
7     19
8     18
9     17
10    16
11    15
12    14
13    13
14    12
Name: Days, dtype: int64

In [37]:
data['Days'].dt.year

0     2021
1     2021
2     2021
3     2021
4     2021
5     2021
6     2021
7     2021
8     2021
9     2021
10    2021
11    2021
12    2021
13    2021
14    2021
Name: Days, dtype: int64

In [38]:
data['Days'].dt.month

0     10
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
11    10
12    10
13    10
14    10
Name: Days, dtype: int64

In [39]:
data['Days'].dt.hour

0     17
1     17
2     17
3     17
4     17
5     17
6     17
7     17
8     17
9     17
10    17
11    17
12    17
13    17
14    17
Name: Days, dtype: int64

In [41]:
data['Days'].dt.minute

0     21
1     21
2     21
3     21
4     21
5     21
6     21
7     21
8     21
9     21
10    21
11    21
12    21
13    21
14    21
Name: Days, dtype: int64