# Ordinal Categorical- target guided encoding

In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('titanic.csv', usecols=['Cabin','Survived'])

In [6]:
df.isnull().sum()

Survived      0
Cabin       687
dtype: int64

In [9]:
# Handle missing value with new feature "Missing"

df['Cabin'].fillna('Missing', inplace=True)

In [10]:
df.isnull().sum()

Survived    0
Cabin       0
dtype: int64

In [11]:
df.shape

(891, 2)

In [12]:
# Now Many categories in cabin, take 1st letter of the string

In [15]:
len(df.Cabin.unique())

148

In [16]:
df  # convert Cabin type to string and take 1st letter

     Survived    Cabin
0           0  Missing
1           1      C85
2           1  Missing
3           1     C123
4           0  Missing
..        ...      ...
886         0  Missing
887         1      B42
888         0  Missing
889         1     C148
890         0  Missing

[891 rows x 2 columns]

In [25]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [26]:
df

     Survived Cabin
0           0     M
1           1     C
2           1     M
3           1     C
4           0     M
..        ...   ...
886         0     M
887         1     B
888         0     M
889         1     C
890         0     M

[891 rows x 2 columns]

In [29]:
# now find unique values
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [32]:
df.groupby('Cabin')['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [33]:
#  The person from Cabin A have 46% chance to survive

In [34]:
#sort this and get index values

In [37]:
ordinal_labels=df.groupby('Cabin')['Survived'].mean().sort_values().index

In [38]:
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [41]:
dict={k:i for i,k in enumerate(ordinal_labels,0) }

In [42]:
dict

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [43]:
df['Cabin_ordinal']= df['Cabin'].map(dict)

In [44]:
df.

     Survived Cabin  Cabin_ordinal
0           0     M              1
1           1     C              4
2           1     M              1
3           1     C              4
4           0     M              1
..        ...   ...            ...
886         0     M              1
887         1     B              6
888         0     M              1
889         1     C              4
890         0     M              1

[891 rows x 3 columns]

In [45]:
# Handle  done